[Desktop Entry]
Name=AVCD Agent
Exec=/usr/lib/avcd-agent/avcd-agent %U
Icon=/usr/share/pixmaps/avcd-agent.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/avcd-agent;