[Desktop Entry]
Name=Avocado Work
Exec=/usr/lib/avocado-work/avocado-work %U
Icon=/usr/share/pixmaps/avocado-work.png
Terminal=false
Type=Application
Categories=Development;
MimeType=x-scheme-handler/avocado-work;