# Version control
.git
.gitignore

# Dependencies
node_modules/
**/node_modules/

# Development files
*.log
*.swp
.DS_Store
.env
.env.*

# Docker files
Dockerfile
.dockerignore
docker-compose.yml

# Documentation
docs/
*.md

# Test files
tests/
**/tests/
*.test.js
*.spec.js

# IDE specific
.idea/
.vscode/
*.sublime-* 