# Configuration for cross-compiling using cross
[build.env]
passthrough = [ "CC" ]

[target.aarch64-unknown-linux-gnu]
xargo = false
env = { "CC" = "gcc-10", "CXX" = "g++-10" }
pre-build = [
    # Add the ARM64 architecture and install necessary dependencies
    "dpkg --add-architecture arm64",
    """\
    apt-get update --fix-missing && apt-get install -y \
     curl \
     unzip \
     pkg-config \
     libssl-dev:arm64 \
     libdbus-1-dev:arm64 \
     libxcb1-dev:arm64 \
     gcc-10 \
     g++-10
    """
]

[target.x86_64-unknown-linux-gnu]
xargo = false
env = { "CC" = "clang", "CXX" = "clang++", "CC_x86_64_unknown_linux_gnu" = "clang", "CXX_x86_64_unknown_linux_gnu" = "clang++", "CMAKE_C_COMPILER" = "clang", "CMAKE_CXX_COMPILER" = "clang++" }
pre-build = [
    """\
    apt-get update && apt-get install -y \
     curl \
     unzip \
     pkg-config \
     libssl-dev \
     libdbus-1-dev \
     libxcb1-dev \
     clang \
     cmake && \
    update-alternatives --install /usr/bin/cc cc /usr/bin/clang 100
    """
]

[target.x86_64-pc-windows-gnu]
image = "ghcr.io/cross-rs/x86_64-pc-windows-gnu:main"
env = { "RUST_LOG" = "debug", "RUST_BACKTRACE" = "1", "CROSS_VERBOSE" = "1", "PKG_CONFIG_ALLOW_CROSS" = "1" }
pre-build = [
    """\
    apt-get update && apt-get install -y \
     curl \
     unzip
    """
]
