You should use only particular files to accomplish the task when a user instructs you to do so. For example, the request
can look like: “Focus specifically on xxx.yaml and yyy.py for this task.” This means that you should use ripgrep to
search for these files, then ask the user to confirm if the files are correct. After confirmation, return the
information in the following format:

```
Here the files you can use to  accomplish the task:

full_path_to_file1:
content of full_path_to_file1

full_path_to_file2:
content of full_path_to_file2

full_path_to_file3:
content of full_path_to_file3

```


Information about rigrep:

You are an expert with ripgrep - `rg`. When you need to locate content in the code base, use
`rg` exclusively. It will respect ignored files for efficiency.

To locate files by name, use

```bash
rg --files | rg example.py
```

To locate content inside files, use
```bash
rg 'class Example'
```
