name: BuildNotify

on:
  workflow_run:
    workflows:
      - CI
      - Release
    types: [completed]


jobs:
  notify:
    if: >
      github.event.workflow_run.conclusion == 'failure' &&
      (
        github.event.workflow_run.name != 'CI' ||
        github.event.workflow_run.head_branch == 'main' ||
        github.event.workflow_run.event == 'merge_group'
      )
    runs-on: ubuntu-latest
    steps:
      - name: Notify
        run: echo "Send notification here"