name: CI

on:
  pull_request:
    branches:
      - main

jobs:
  debug:
    name: debug
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo $PATH
          echo $SHELL
          echo $HOME
