name: Debug GHA

on:
  push:
    branches:
      - figure-out-github-actions-paths

jobs:
  debug:
    name: debug
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo $PATH
          echo $SHELL
          echo $HOME
